@import 'src/styles/_variables.scss';

.contact-container {
    font-family: $font-family-primary;
    font-size: $font-size-base;
    background-color: $color-background-dark;
    color: $color-text-light;
    width: 100%;
    max-width: 1200px;
    min-height: calc(100vh - 80px); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: $spacing-medium;
    box-sizing: border-box;
}

.contact-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;

    ::ng-deep {
        .mat-mdc-tab-body-wrapper {
            flex-grow: 1;
        }

        .mat-mdc-tab-body-content {
            overflow: hidden;
        }

        .mdc-tab__text-label {
            font-size: 1rem;
        }

        .mat-mdc-tab .mdc-tab__text-label {
            color: $color-text-light;
        }

        .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
            color: $color-primary;
        }
    }
}

.contact-card,
.faq-card {
    background-color: $color-card-background;
    height: 100%;
    overflow: auto;

    mat-card-content {
        height: 100%;
        padding: $spacing-medium;
        overflow: auto;
    }
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    gap: $spacing-medium;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.contact-form {
    width: 100%;
    max-width: 500px;

    h2 {
        color: $color-primary;
        margin-bottom: $spacing-medium;
    }

    mat-form-field {
        width: 100%;
        margin-bottom: $spacing-small;
    }

    button {
        background-color: $color-primary;
        color: $color-text-light;

        &:hover:not([disabled]) {
            background-color: $color-secondary;
        }

        &[disabled] {
            background-color: $color-tag-background;
            color: $color-text-secondary;
        }
    }
}

.contact-info {
    width: 100%;
    max-width: 500px;

    h2,
    h3 {
        color: $color-primary;
        margin-bottom: 1.5rem;
    }

    h3 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    p {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;


        mat-icon {
            color: $color-secondary;
            margin-right: 0.5rem;
        }
    }
}

.social-links {
    display: flex;

    a {
        color: $color-text-light;
        transition: color 0.3s ease;

        &:hover {
            color: $color-primary;
        }

        mat-icon {
            font-size: 24px;
            width: 24px;
            height: 24px;
        }
    }
}

mat-accordion {
    display: block;
    margin-top: $spacing-medium;
}

mat-expansion-panel {
    background-color: $color-hover;
    color: $color-text-light;
    margin-bottom: $spacing-small;

    &:not(.mat-expanded) {
        background-color: $color-tag-background;
    }

    mat-expansion-panel-header {
        background-color: $color-tag-background;

        &:hover {
            background-color: $color-hover !important;
        }
    }

    mat-panel-title {
        color: $color-primary;
    }
}

@media (max-width: 768px) {
    .contact-container {
        padding: $spacing-small;
    }

    .contact-tabs {
        ::ng-deep {
            .mdc-tab__text-label {
                font-size: 0.9rem;
            }
        }
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-form,
    .contact-info {
        width: 100%;
        max-width: none;
    }
}

@media (max-width: 480px) {
    .contact-container {
        padding: $spacing-small;
    }

    .contact-tabs {
        ::ng-deep {
            .mdc-tab__text-label {
                font-size: 0.8rem;
            }
        }
    }

    mat-expansion-panel-header {
        padding: $spacing-small;
    }

    mat-panel-title {
        font-size: 0.9rem;
    }
}