<div class="filter-container">
  <form [formGroup]="filtersForm" (ngSubmit)="applyFilters()">
    <input formControlName="name" placeholder="Search by name">
    <input formControlName="brand" placeholder="Search by brand">
    <select formControlName="beerType">
      <option value="">-- Select Beer Type --</option>
      <option *ngFor="let type of beerTypes" [value]="type">{{ type }}</option>
    </select>

    <div class="abv-range-container">
      <input type="range" formControlName="abvRange" min="0" max="100" step="1">
      <span class="abv-value">{{ filtersForm.get('abvRange')?.value }}%</span>
    </div>

    <input formControlName="ingredient" placeholder="Search by ingredient">
    <button type="submit">Filter Beers</button>
  </form>
</div>