@import 'src/styles/variables';

.filter-container {
    font-family: $font-family-primary;
    padding: $spacing-large;
    max-width: 100%;
    width: 100%;
    background-color: $color-card-background;
    border-radius: $border-radius;

    h2 {
        font-family: $font-family-primary;
        font-size: $font-size-large;
        font-weight: 700;
        color: $color-secondary;
        margin-bottom: $spacing-medium;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: $spacing-large;
    }

    .input-group {
        font-family: $font-family-primary;
        margin: $spacing-medium 0;
        border-bottom: 1px solid $color-primary;
        background-color: transparent;

        input {
            font-family: $font-family-primary;
            color: $color-text-light;
            font-size: $font-size-base;
            outline: none;
            border: none;
            background-color: transparent;
            margin-bottom: $spacing-small;
            width: 100%;

            &::placeholder {
                font-family: $font-family-primary;
                font-size: $font-size-base;
                color: $color-text-secondary;
            }
        }
    }

    .beer-types-container {
        h3 {
            font-family: $font-family-primary;
            font-size: $font-size-large;
            font-weight: 700;
            margin-bottom: $spacing-medium;
            color: $color-secondary;
        }

        .beer-types-accordion {
            font-family: $font-family-primary;
            .beer-types-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                gap: $spacing-small;
                margin-top: $spacing-small;
                
            }
        }
    }

    .abv-range-container {
        display: flex;
        flex-direction: column;
        gap: $spacing-small;

        h3 {
            font-family: $font-family-primary;
            font-weight: 700;
            font-size: $font-size-base;
            color: $color-secondary;
        }

        label {
            font-family: $font-family-primary;
            font-weight: 600;
            font-size: $font-size-small;
            color: $color-text-light;
        }

        .mat-slider {
            width: 100%;
        }
    }

    button[type="submit"] {
        font-family: $font-family-primary;
        font-weight: 700;
        background-color: $color-primary;
        color: $color-background-dark;
        border: none;
        padding: $spacing-medium $spacing-large;
        font-size: $font-size-base;
        border-radius: $border-radius;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.1s;

        &:hover {
            background-color: $color-secondary;
        }

        &:active {
            transform: translateY(1px);
        }
    }
}

::ng-deep {
    .mat-expansion-panel {
        background-color: $color-card-background !important;
        color: $color-secondary !important;
    }

    .mat-expansion-panel-header-title {
        color: $color-primary !important;
    }

    .mdc-form-field>label {
        color: $color-primary;
    }

    .mat-expansion-panel-header {
        font-family: $font-family-primary;
        font-weight: 600;
        padding: $spacing-medium;

        &:hover {
            background-color: $color-hover !important;
        }
    }

    .mdc-checkbox {

        .mdc-checkbox__background {
            .mdc-checkbox__checkmark {
                color: $color-background-dark !important;
            }
        }

        .mdc-checkbox__ripple {
            background-color: $color-secondary !important;
        }
    }

    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
        border-color: $color-secondary !important;
    }

    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
        border-color: $color-secondary !important;
        background-color: $color-primary !important;
    }

    .mat-mdc-checkbox .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
        border-color: $color-secondary !important;
    }

    .mat-mdc-checkbox .mdc-form-field {
        color: $color-text-light !important;
    }
}

@include phone {
    .filter-container {
        padding: $spacing-medium;

        .beer-types-container {
            .beer-types-accordion {
                .beer-types-grid {
                    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
                }
            }
        }
    }
}

@include tablet {
    .filter-container {
        padding: $spacing-large;

        .beer-types-container {
            .beer-types-accordion {
                .beer-types-grid {
                    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
                }
            }
        }
    }
}

@include desktop {
    .filter-container {
        padding: $spacing-large;

        .beer-types-container {
            .beer-types-accordion {
                .beer-types-grid {
                    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
                }
            }
        }
    }
}

@include large-desktop {
    .filter-container {
        padding: $spacing-large;
        max-width: 1000px;

        .beer-types-container {
            .beer-types-accordion {
                .beer-types-grid {
                    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
                }
            }
        }
    }
}

@include extra-large-desktop {
    .filter-container {
        padding: $spacing-large;
        max-width: 1200px;

        .beer-types-container {
            .beer-types-accordion {
                .beer-types-grid {
                    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
                }
            }
        }
    }
}