<div class="filter-container">
  <h2>Search for your beer</h2>
  <form [formGroup]="filtersForm" (ngSubmit)="applyFilters()">
    <div class="input-group">
      <input formControlName="searchTerm" placeholder="Search by name or brand" class="label">
    </div>
    <div class="input-group">
      <input formControlName="ingredient" placeholder="Search by ingredient" class="label">
    </div>

    <div class="beer-types-container">
      <h3>Beer Types</h3>
      <div class="beer-types-grid">
        <div *ngFor="let type of beerTypes" class="beer-type-checkbox">
          <label>
            <input type="checkbox" [value]="type" (change)="updateBeerTypes($event, type)">
            <span>{{ type }}</span>
          </label>
        </div>
      </div>
    </div>

    <div class="abv-range-container">
      <label for="abvRange">ABV Range: {{ filtersForm.get('abvRange')?.value }}%</label>
      <input type="range" id="abvRange" formControlName="abvRange" min="0" max="20" step="0.1">
    </div>

    <button type="submit">Apply Filters</button>
  </form>
</div>