<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-content">
      <a class="navbar-logo" routerLink="/">
        <img src="https://firebasestorage.googleapis.com/v0/b/beer-hub.appspot.com/o/images%2Fmisc%2FBH-logo.webp?alt=media&token=73720b7f-bb1e-444f-82e4-919d064cd7d6" alt="BeerHub Logo">
      </a>
      
      <button class="hamburger-menu" (click)="toggleMenu()" [class.active]="isMenuOpen">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="navbar-menu" [class.active]="isMenuOpen">
        <div class="navbar-links">
          <a class="navbar-link" routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Home</a>
          <a class="navbar-link" routerLink="/map" routerLinkActive="active" (click)="closeMenu()">Map</a>
          <a class="navbar-link" routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About Us</a>
          <a class="navbar-link" routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a>
        </div>

        <div class="navbar-actions">
          <ng-container *ngIf="user$ | async as user; else loggedOut">
            <div class="user-menu">
              <img 
                [src]="user.photoURL || 'assets/user-baseImg.png'" 
                class="user-avatar" 
                (click)="toggleUserMenu()" 
                alt="User Avatar"
              />
              <div class="user-dropdown" *ngIf="isUserMenuOpen">
                <a class="dropdown-item" (click)="goToProfile()">Dashboard</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
              </div>
            </div>
          </ng-container>
          <ng-template #loggedOut>
            <button class="navbar-button" (click)="goToLogin()">Log In</button>
            <button class="navbar-button" (click)="goToSignUp()">Sign Up</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>

