/* country.component.scss */

.country-container {
    text-align: center;
    padding: 20px;
}

.flag-image {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 20%;
    /* Show 5 items per page in a row */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.brand-logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-bottom: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.carousel-button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}