.homepage-container {
    display: flex;
    // padding: 10px;
    gap: 20px;
    height: 100vh;
    /* Para que ocupe toda la altura de la pantalla */
    box-sizing: border-box;
}

.filter-sidebar {
    width: 300px;
    flex-shrink: 0;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    transition: flex 0.3s ease;
}

.search-results {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.section-item {
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.section-item img {
    max-width: 100px;
    height: auto;
}

.no-results {
    color: #777;
}

/* Estilos para la grid de cervezas */
.beers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
    /* Asegúrate de que la grid ocupe todo el espacio disponible */
}

/* Carta de cerveza */
.beer-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.beer-card:hover {
    transform: scale(1.05);
}

.ingredients {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.brands-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; // Ajusta según sea necesario
}

.brand-card {
    width: 150px; // Ajusta el tamaño de las tarjetas
    cursor: pointer;
    text-align: center;
}

.brand-card img {
    width: 100%;
    height: auto;
}