@import 'src/styles/_variables.scss';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.beers-container {
  position: relative;
  // padding-top: 100px; // Adjust this value as needed

  .brand-header {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;

    h1 {
      font-size: 15rem;
      font-weight: bold;
      opacity: 0.1;
      margin: 0;
      white-space: nowrap;
    }
  }

  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .swiper-container {
    width: 100%;
    // padding: 20px 40px;
    overflow: visible;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .beer-card {
    width: 100%;
    max-width: 300px;
    // padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .beer-image {
    width: 100%;
    max-width: 190px;
    height: auto;
    margin: 0 auto 15px;
    display: block;
  }

  .beer-info {
    h3 {
      font-size: 20px;
      margin-bottom: 5px;
    }

    p {
      font-size: 16px;
      color: #666;
    }
  }

  .back-button {
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 20px;
    background-color: #ffa726;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ff9100;
    }

    i {
      margin-right: 5px;
    }
  }
}

:host ::ng-deep {

  .swiper-button-next,
  .swiper-button-prev {
    color: #ffa726;

    &::after {
      font-size: 24px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #ffa726;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-prev {
    left: 10px;
  }
}

@media (max-width: 1366px) {
  .beers-container {
    .brand-header h1 {
      font-size: 4rem;
    }

    .beer-card {
      max-width: 250px;
    }

    .beer-image {
      max-width: 150px;
    }
  }
}

@media (max-width: 1024px) {
  .beers-container {
    .brand-header h1 {
      font-size: 3rem;
    }

    .beer-card {
      max-width: 200px;
    }

    .beer-image {
      max-width: 120px;
    }
  }
}

@media (max-width: 640px) {
  .beers-container {
    .brand-header h1 {
      font-size: 2rem;
    }

    .beer-card {
      max-width: 150px;
    }

    .beer-image {
      max-width: 100px;
    }
  }
}