<div class="profile">
  <h2>Hello, Beer Master: {{ userProfile.username }}</h2>
  <ng-container *ngIf="user$ | async as user">
    <img [src]="user.photoURL || 'assets/user-baseImg.png'" class="profile-avatar">
    <!-- Actualización de foto de perfil -->
    <input type="file" (change)="onFileSelected($event)">
    <p><strong>Name:</strong> {{ userProfile.firstName }}</p>
    <p><strong>Last Name:</strong> {{ userProfile.lastName }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Username:</strong> {{ userProfile.username }}</p>
    <p><strong>Country:</strong> {{ userProfile.country || 'Not specified' }}</p>
    <p><strong>Date of Birth:</strong> {{ userProfile.dateOfBirth || 'Not specified' }}</p>

    <!-- Cambiar contraseña -->
    <form (ngSubmit)="updatePassword()">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>

      <label for="confirmPassword">Confirm New Password:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>

      <button type="submit">Update Password</button>
    </form>

    <!-- Botón para abrir modal de nueva cerveza -->
    <button (click)="openNewBeerModal()">Request New Beer</button>
  </ng-container>

  <!-- Modal para solicitar nueva cerveza -->
  <div *ngIf="showNewBeerModal" class="modal">
    <div class="modal-content">
      <span (click)="closeNewBeerModal()" class="close">&times;</span>
      <h2>Request New Beer</h2>
      <form (ngSubmit)="submitNewBeerRequest()">
        <label for="beerName">Beer Name:</label>
        <input type="text" id="beerName" [(ngModel)]="newBeer.name" name="beerName" required>

        <label for="beerDescription">Description:</label>
        <textarea id="beerDescription" [(ngModel)]="newBeer.description" name="beerDescription" required></textarea>

        <button type="submit">Submit Request</button>
      </form>
    </div>
  </div>
  <!-- Logout -->
    <button (click)="signOut()">Logout</button>
</div>
