@import 'src/styles/variables';

.statistics-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: $font-size-large;
        font-weight: 600;
        color: $color-primary;
        margin-bottom: $spacing-medium;
    }

    .chart-container {
        flex-grow: 1;
        position: relative;
    }
}