@import 'src/styles/_variables.scss';

.beer-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 100vh;
    // background-color: $color-background-dark;
    color: $color-text-light;
    padding: 2rem;
    position: relative;

    .info-card {
        display: flex;
        // background-image: url('../../../assets/desktop-wallpaper-wood-black-wood-bedroom-wood-background-dark-wood.jpg');
        // opacity: 0.5;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        width: 80%;
        z-index: 1;

        .left-section {
            width: 50%;
            padding: 2rem;

            .country-info {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                margin-left: 3rem;
                font-size: 1.8rem;

                .country-flag {
                    width: 2.2rem;
                    height: 2.2rem;
                    margin-right: 0.5rem;
                    object-fit: contain;
                }
            }

            .country-map {
                margin-bottom: 1rem;

                .map-image {
                    width: 80%;
                    height: auto;
                }
            }

            .rating-section {
                margin-bottom: 1rem;

                h2 {
                    font-size: 1.8rem;
                    margin-bottom: 0.5rem;
                }

                .user-rating {
                    h3 {
                        font-size: 1.5rem;
                        margin-bottom: 0.5rem;
                    }

                    .beer-rate {
                        display: flex;
                        gap: 5px;

                        img {
                            width: 50px;
                            height: auto;
                            cursor: pointer;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }

            .beer-description {
                color: $color-text-secondary;
                font-size: 0.9rem;
            }

            .web {
                margin-top: 30px;

                h2 {
                    font-weight: 500;
                }

                a {
                    text-decoration: none;
                    color: #f3b200;
                }   
            }

            
        }

        .right-section {
            width: 50%;
            padding: 2rem;
            padding-left: 35%;

            .brand-logo {
                width: 250px;
                object-fit: contain;
                margin-bottom: 1rem;
            }

            .beer-name {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            .favorite-icon {
                cursor: pointer;
                width: 40px;
                height: 40px;
                margin-bottom: -5px;
            }

            .beer-info,
            .ingredients-section,
            .description-section {
                margin-bottom: 2rem;

                h2 {
                    font-size: 1.5rem;
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }

            .ingredients-list {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                .ingredient-item {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    margin-top: 15px;

                    .ingredient-icon {
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                    }

                    .ingredient-name {
                        font-size: 1rem;
                    }
                }
            }

            .beer-stats {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;

                .stat {
                    .label {
                        font-size: 1.3rem;
                        color: $color-text-secondary;
                        margin-right: 10px;
                    }

                    .value {
                        font-size: 2rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.beer-image-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .beer-image {
        height: 90%;
        width: auto;
        object-fit: contain;
    }
}

.back-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: transparent;
    color: $color-text-light;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 3;

    &:hover {
        color: $color-hover;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
    position: relative;
    width: 80%;
    max-width: 400px;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content h2 {
    margin: 0;
}

.modal-content p {
    margin: 1rem 0;
}