<!-- Mostrar la bandera del país y el nombre -->
<div>
  <img *ngIf="countryFlagUrl" [src]="countryFlagUrl" alt="{{ countryName }} flag" />
  <h2>{{ countryName }}</h2>
</div>

<!-- Mostrar el logo de la marca -->
<div>
  <img *ngIf="brandLogoUrl" [src]="brandLogoUrl" alt="{{ brandName }} logo" />
</div>

<!-- Mostrar el mapa del país -->
<div>
  <img *ngIf="countryMapUrl" [src]="countryMapUrl" alt="{{ countryName }} map" />
</div>

<!-- Mostrar el tipo de cerveza -->
<div>
  <h4>{{ beer?.beerType }}</h4>
</div>

<!-- Mostrar la descripción de la cerveza -->
<div>
  <p>{{ beer?.description }}</p>
</div>

<!-- Mostrar la imagen de la cerveza -->
<div>
  <img *ngIf="beer?.beerImageUrl" [src]="beer?.beerImageUrl" alt="{{ beer?.name }} image" />
</div>

<!-- Mostrar ingredientes -->
<div *ngFor="let ingredient of beer?.ingredients">
  <div class="ingredient">
    <div class="circle">
      <img [src]="ingredient.iconUrl" alt="{{ ingredient.name }} icon" />
    </div>
    <p>{{ ingredient.name }}</p>
  </div>
</div>
