<div class="profile-section">
  <div class="profile-picture">
    <img [src]="userProfile?.photoURL || 'assets/default-avatar.png'" alt="Profile Picture">
    <button mat-mini-fab color="primary" class="change-picture-btn" (click)="fileInput.click()">
      <mat-icon>edit</mat-icon>
    </button>
    <input #fileInput type="file" (change)="updateProfilePicture($event)" style="display: none;">
  </div>
  <h2>{{ userProfile?.displayName }}</h2>
  <p>{{ userProfile?.email }}</p>
  <p>{{ userProfile?.country }}</p>
  <p>Joined: {{ userProfile?.statistics?.registrationDate?.toDate() | date }}</p>
</div>

