@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html, 
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    // background: radial-gradient(circle, rgba(143, 143, 143, 1) 0%, rgb(58, 58, 58) 21%, rgba(27, 27, 27, 1) 86%);
    background-color: #1c1c1c;
    // background: radial-gradient(circle at 35% 30%, rgba(138, 138, 138, 0.571), transparent 30%), #1c1c1c;
    background: radial-gradient(circle at 35% 30%, rgba(175, 175, 175, 0.501), transparent 30%), #1c1c1c;
    font-family: 'Montserrat', sans-serif;
    // overflow: hidden;
}