@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.mat-app-background {
    background-color: #121212;
}

// Custom styles for dark theme
.mat-card {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.mat-toolbar {
    background-color: #212121;
    color: #ffffff;
}

.mat-form-field {
    color: #e0e0e0;
}

.mat-input-element {
    caret-color: #e0e0e0;
}